Repository Ciela-Institute/caustics, pull requests merged in 2024-03, with the labels that each got.

#170 docs: Create glossary
  docs/source/_toc.yml
  docs/source/genindex.md
  docs/source/glossary.md
Labels: docs

#162 docs: Update and add units to the docstrings
  src/caustics/cosmology/base.py
  src/caustics/lenses/base.py
  src/caustics/lenses/epl.py
  src/caustics/lenses/external_shear.py
  src/caustics/lenses/mass_sheet.py
  src/caustics/lenses/multiplane.py
  src/caustics/lenses/nfw.py
  src/caustics/lenses/pixelated_convergence.py
  src/caustics/lenses/point.py
  src/caustics/lenses/pseudo_jaffe.py
  src/caustics/lenses/sie.py
  src/caustics/lenses/singleplane.py
  src/caustics/lenses/sis.py
  src/caustics/lenses/tnfw.py
  src/caustics/lenses/utils.py
  src/caustics/light/base.py
  src/caustics/light/pixelated.py
  src/caustics/light/sersic.py
Labels: docs

#171 Streamlit: A visualization tool for Caustics
  gui/streamlit_app.py
Labels: feat

#184 chore: Add Zenodo DOI to official project
  CITATION.cff
  README.md
Labels: chore

#187 docs: Update community health docs including code of conduct and contributing (#95)
  .github/CONTRIBUTING.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  docs/source/contributing.rst
Labels: docs, chore

#173 Adding example notebooks
  docs/requirements.txt
  docs/source/_config.yml
  docs/source/_toc.yml
  docs/source/examples/Example_ImageFit_LM.ipynb
  docs/source/examples/Example_ImageFit_NUTS.ipynb
  docs/source/examples/Example_QSOLensFit.ipynb
  docs/source/examples/index.md
  src/caustics/utils.py
Labels: docs
