Repository Ciela-Institute/caustics, pull requests merged in 2025-08, with the labels that each got.

#379 Warn python version
  README.md
  docs/source/install.rst
Labels: docs

#382 Upgrade to compatibility with Python 3.12
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  docs/source/install.rst
  pyproject.toml
  requirements.txt
Labels: user experience, dependencies, build

#389 Test notebook tutorials
  pyproject.toml
  tests/conftest.py
  tests/test_notebooks.py
Labels: tests
